html {
  position: relative;
  min-height: 100%;
}

body {
  background: url("../images/fig-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Vollkorn', cursive;
}
 .footer {
     position: fixed;
     bottom: 0;
 }
 h1, h2, h3{
    font-family: 'Unica One', serif;
    text-align: center;
 }
